{% extends 'adminSide/adminBase.html' %}
{% block content %}
{% if booking %}
<div class="products-area-wrapper tableView">
  <div class="products-header">
    <div class="product-cell category">Booking ID</div>
    <div class="product-cell category">Customer ID</div>
    <div class="product-cell category">Model ID</div>
    <div class="product-cell category">Car_ID</div>
    <div class="product-cell category">Booking Loan</div>
    <div class="product-cell category">Booking Return</div>
    <div class="product-cell category">Addons</div>
    <div class="product-cell category">Payment</div>
    <div class="product-cell category">Addon Payment</div>
    <div class="product-cell category">Edit/Delete</div>
  </div>

    {% for td in booking %}
        <div class="products-row">
          <button class="cell-more-button"></button>
            <div class="product-cell"><span>{{td['booking_ID']}}</span></div>
            <div class="product-cell">{{td['customer_ID']}}</div>
            <div class="product-cell">{{td['model_ID']}}</div>
            <div class="product-cell">{{td['car_ID']}}</div>
            <div class="product-cell">{{td['booking_loan_date']}}</div>
            <div class="product-cell">{{td['booking_return_date']}}</div>
            <div class="product-cell">{{td['booking_addons']}}</div>
            <div class="product-cell">{{td['booking_payment']}}</div>
            <div class="product-cell">{{td['booking_addons_payment']}}</div>
            
            <div  class="product-cell"><button type="button" class="btn btn-primary">edit</button>/<button type="button" class="btn btn-danger">delete</button></div>
        </div>

        {% endfor %}
        {% else %}
        <div class="app-icon"><h1>No DATA<h1></div>
        {% endif %}
{% endblock %}