.addons-table {
  width: 100%;
  border-collapse: collapse;
}

.addons-table th,
.addons-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.addons-table th {
  background-color: #000000;
}

.addons-table td input[type="checkbox"] {
  margin-right: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.addons-table input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}