<link rel="stylesheet" href='/static/index.css' />

<video id="videoBkg" runat="server" 
    poster="https://r4.wallpaperflare.com/wallpaper/610/404/961/mercedes-benz-amg-2018-g-class-gelandewagen-hd-wallpaper-1aac5f7d2fcb970b8b07ca84e88525a6.jpg" 
    preload autoplay muted loop>

    <source src="C:\Users\DJimp\Downloads\The all-electric BMW family.mp4" type="video/mp4">
  </video>
  
  <div class="hero-section">
    <h1 class="mka">easy.</h1>
    <h1 class="mka">cheap.</h1>
    <h1 class="mks">fast.</h1>
    <h1 class="mka">reliable.</h1>
    <p>Need we say more? <br>Rely on <strong>PBNJ Car Rental</strong> and travel with <strong>confidence</strong></p>
    
    <form action="{{ url_for('reserve') }}" method="get" target="{{ url_for('reserve') }}">
      <button type="submit">Reserve Now</button>
   </form>
  </div>
  <div class="menu-section">
    <p><span>PBNJ</span> Car Rental</p>
    <ul>
      <li><a href="{{ url_for('reserve') }}">Reserve</a></li>
      <li><a href="{{ url_for('mybookings') }}">My Bookings</a></li>
      <li><a href="{{ url_for('login')}}">Log in</a></li>
    </ul>
  </div>
  {% extends 'navbar.html' %}