{% block content %}
<link rel="stylesheet" href="/static/mybookings.css" />
{% include 'navbar.html'%}
<div class="heading">
    <h1>My Bookings</h1>
  </div>
  <div class="container">
    <div class="list">
        {% if booking %}
                {% for book in booking %}
      <div class="num btn" href="#">
        <h3>
            {{book['model_name']}} from [{{book['booking_loan_date']}}] To [{{book['booking_return_date']}}]
            <a href="/confirm_booking/{{ book.booking_ID }}"><button class="icon-btn add-btn confirm-button">
                <div class="add-icon"></div>
                <div class="btn-txt">Pay</div>
              </button></a>
              <a href="/cancel_booking/{{ book.booking_ID }}"><button class="icon-btn add-btn cancel-button">  
                <div class="btn-txt">Cancel</div>
              </button></a>
        </h3>
      </div>
      {% endfor %}
    {% else %}
    {% endif %}
    </div>
  </div>
  <h5 class="message"> <a href="/reserve"><button class="icon-btn add-btn new-booking-button">New Booking</button></a></h5>
  
{% endblock %}