{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mybookings.css') }}">
<body>
    <link rel="stylesheet" href="/static/mybookings.css" />
    <div class="mybookings">
        <div class="head">
            <h1>My Bookings</h1>
        </div>
    </div>

    <div class="my-bookings-table">
        <table>
            <thead>
                <tr>
                    <th>Car Model</th>
                    <th>Loan Date</th>
                    <th>Return Date</th>
                    <th>Add Ons</th>
                    <th>Days Cost</th>
                    <th>Add Ons Cost</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if booking %}
                {% for book in booking %}
                <tr>
                    <td>{{book['model_ID']}}</td>
                    <td>{{book['booking_loan_date']}}</td>
                    <td>{{book['booking_return_date']}}</td>
                    <td>{{book['booking_addons']}}</td>
                    <td>{{book['booking_addons_payment']}}</td>
                    <td>{{book['booking_payment']}}</td>
                    <td>{{book['booking_status']}}</td>
                    <td>
                        <button class="confirm-button">
                            <a href="/confirm_booking/{{ book.booking_ID }}">Pay</a>
                        </button>
                        <button class="cancel-button">
                            <a href="/cancel_booking/{{ book.booking_ID }}">Cancel</a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9" class="display-3">No Bookings to display.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <button class="new-booking-button">
            <a href="/">New Booking</a>
        </button>
    </div>
</body>

{% endblock %}
