{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payment.css') }}">
<body>
    <link rel="stylesheet" href="/static/payment.css" />
    <div class="payment">
        <div class="head">
            <h1>Payment</h1>
        </div>

        <div class="payment-table">
            <table>
                <tr>
                    <th>Rental Period Cost</th>
                    <td>{{ rental_period_price }}</td>
                </tr>
                <tr>
                    <th>Total Add On Costs</th>
                    <td>{{ addon_price }}</td>
                </tr>
                <tr>
                    <th>Total Payment</th>
                    <td>{{ total_price }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="pay-button">
                            <a href="{{ url_for('thankyou') }}">Pay</a>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
{% endblock %}
