{% block content %}
<link rel="stylesheet" href='/static/reserve.css' />
    <div class="segment">
      <h1>Rental Period</h1>
    </div>
    {% if date %}
    <form method="POST">
    <label>
        <label class="label">Pick-Up*</label>
        <input type="date" id="booking_loan_date" name="booking_loan_date" min="{{date['date']}}" value="{{date['date']}}"></input>
    </label>
    <label>
        <label class="label">Return*</label>
        <input type="date" id="booking_return_date" name="booking_return_date"min="{{date['date']}}" value="{{date['date']}}"></input>
    </label>
        <button class="red" type="submit" onclick="{{url_for('model')}}">Submit</button>
    
    </form>
  {% else %}
            {% endif %}
{% include 'navbar.html' %}

{% endblock %}